body {
    margin: 0;
    padding: 0;
}

.film {
    background: #ccc;
    border: 2px solid black;
    margin: 0 auto 20px;
    padding: 15px 30px;
}

.character {
    margin: 10px auto;
}

.character:after {
    content: '';
    display: block;
    margin: 20px auto;
    border-bottom: 1px solid black;
    width: 100px;
    height: 1px;
}

.character:last-child:after {
    display: none;
}


